header {
  width: 85%;
  padding: 25px;
  margin: 25px;
  text-align: center;
  background-color: yellow;
  height: 50px;
}

aside {
  width: 100px;
  border: 5px dashed red;
  padding: 10px;
  margin: 10px;
  text-align: center;
  height: 300px;
}

article {
  width: 70%;
  border: 15px solid blue;
  padding: 10px;
  margin: 10px;
  text-align: center;
  height: 300px;
  position:absolute;
  left: 150px;
  top: 150px;
}
