header {
  width: 85%;
  padding: 25px;
  margin: 25px;
  text-align: center;
  background-color: yellow;
  height: 50px;
}

aside {
  width: 100px;
  border: 5px dashed red;
  padding: 10px;
  margin: 10px;
  text-align: center;
  height: 300px;
}

article {
  width: 70%;
  border: 15px solid blue;
  padding: 10px;
  margin: 10px;
  text-align: center;
  height: 300px;
  position:absolute;
  left: 150px;
  top: 150px;
}

#bubble-wrapper{    
        height: 100%;    
        width: 100%;    
        position:fixed;    
        bottom: 0px;    
        overflow: hidden;    
        pointer-events: none;
      }

.bubble{
        height: max(300px,30vw);    
        width: max(300px,30vw);    
        background-color: rgb(33, 150, 243);    
        position: absolute;    
        left: 50%;   
        top: 100%;    
        animation: wave 2s ease-in-out infinite;}

@keyframes wave {    
        from, to {transform:translate(-50%, 0%);}
        50% {transform: translate(-50%,-20%);}
      }
